body{
    background-color: rgba(0, 0, 0, 0.808);
}
header{
    display: grid;
    grid-area: h;
    background-color: rgba(0, 0, 0, 0.952);
    text-align: center;
}
header ul li{
    list-style: none;

}
header img{
    margin: auto;
}
article{
    display: grid;
    grid-area: ar;
    background-color: rgba(0, 0, 0, 0.952);
    padding: 7px;
    text-align: justify;

}

aside{
    display: grid;
    grid-area: as;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.856);
}
img{
    border-radius: 100%;
}
footer{
    display: grid;
    grid-area: f;
    background-color: rgba(0, 0, 0, 0.856);
}
h1{
    font-size: 25px;
    text-align: center;
}
h2{
    font-size: 15px;
    font-weight: bolder;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 18px;
}
h5{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
article ul li{
    list-style: none;
    clear: both;
}

aside ul{
    display: flex;
    justify-content: space-around;
}
aside ul li{
    text-align: start;
    padding: auto;
}

main{
    border: 3px solid black;
    color: white;
    max-width: 750px;
    padding: 2px;
    margin: auto;
    display: grid   ;
    grid-template-columns: 200px auto auto;
    grid-template-areas:    "h as as"
                            "ar as as"
                            "ar f f" 
                            "ar f f";

}
@media screen and (max-width:550px){
    main{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-areas:    "h"
                                "ar"
                                "as"
                                "f";
    }
}